Package: oem-config-feren
Version: 2020.04.0.0.5
Architecture: amd64
Maintainer: Feren OS Team <ferenosdev@outlook.com>
Depends: python3-pam
Replaces: calamares, calamares-settings-feren-oem
Provides: feren-calamares-oem-config, calamares-settings, calamares-settings-feren-oem
Section: x11
Priority: optional
Homepage: http://ferenos.weebly.com/
Description: Tool for preparing machine for OEM Config with Calamares
 Changes: Complete rewrite from the Ubiquity DM Source Code
