<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

    <vendor>Feren Team</vendor>
    <vendor_url>https://ferenos.weebly.com/</vendor_url>
    <icon_name>distributor-logo</icon_name>
    <action id="org.feren.oem-setup.prepare">

        <description gettext-domain="feren-oem-setup">Feren OS OEM Config Screen</description>
        <message gettext-domain="feren-oem-setup">Authentication is required to prepare Feren OS for shipping</message>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/oem-feren-prepare</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>

    </action>

</policyconfig>
